@font-face {
    font-family: "Avenir";
    src: url("/assets/fonts/AvenirNextLTPro-Regular.otf");
    // src: url("/assets/fonts/AvenirNextLTPro-Demi.otf");
    // src: url("/assets/fonts/AvenirNextLTPro-Bold.otf");
}

body {
    margin: auto;
    font-family: "Avenir";



}