@font-face {
    font-family: "Avenir";
    src: url("/assets/fonts/AvenirNextLTPro-Regular.otf");
    // src: url("/assets/fonts/AvenirNextLTPro-Demi.otf");
    // src: url("/assets/fonts/AvenirNextLTPro-Bold.otf");
}

body {
    margin: auto;
    font-family: "Avenir";

}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.bandsite-logo {
    width: 120px;
    height: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}