$primary-background: #323232;
$white-text: #FFFFFF;
$secondary-grey: #E1E1E1;

$bandSite-black:#323232;
$silver:#AFAFAF;
$white:#FFFFFF;
$bandSite-darkBlack:#000000;
$mercury:#E1E1E1;
$alabaster:#FAFAFA;