@font-face {
  font-family: "avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 600;
}
html {
  font-family: "avenir";
}

body {
  margin: auto;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
}

.bandsite-logo {
  width: 120px;
  height: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
  height: 87px;
}

.nav-bar {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.nav-bar__title {
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .nav-bar__title {
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar__title {
    padding-left: 5rem;
  }
}
@media screen and (min-width: 768px) {
  .nav-bar {
    justify-content: center;
    flex-direction: row;
  }
}

.nav-bar__options {
  width: 100%;
}
.nav-bar__options--list {
  padding-left: 0;
  margin: 0;
  font-size: 1.2rem;
  list-style: none;
  display: flex;
  width: 100%;
  color: #E1E1E1;
}
@media screen and (min-width: 768px) {
  .nav-bar__options--list {
    justify-content: left;
    padding-left: 3rem;
    position: left;
    height: 87px;
    width: 25rem;
  }
  .nav-bar__options--list li {
    padding-top: 2rem;
  }
}

.contact {
  padding: 1.5rem 1rem 1.5rem 1rem;
  background-color: #323232;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .contact {
    padding: 3rem 2rem 3rem 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .contact {
    padding: 3rem 5rem 3rem 5rem;
  }
}
@media screen and (min-width: 768px) {
  .contact__social--title {
    display: flex;
    flex-direction: row;
  }
  .contact__social--title img {
    height: 30px;
    padding-right: 1rem;
  }
}
.contact__social--title img {
  height: 30px;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .contact__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
  .contact__social h2 {
    margin: 0;
  }
  .contact__social img {
    padding: 0 0 0 3rem;
  }
}
.contact__social--logos img {
  height: 30px;
  padding-right: 1rem;
}
.contact__people {
  padding-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .contact__people {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.contact__people-wrap {
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .contact__people-wrap {
    display: flex;
    flex-direction: column;
    padding: 0 0.4rem 0 0.4rem;
    justify-content: center;
  }
}
.contact__people-wrap--name {
  padding: 0.5rem 0 0.5rem 0;
  line-height: 5px;
}
.contact__people-wrap--info {
  padding: 0.5rem 0 0.5rem 0;
  line-height: 5px;
  font-weight: 100;
}
@media screen and (min-width: 1280px) {
  .contact__people-wrap--info {
    font-size: 0.85rem;
  }
}
.contact__people-wrap--email {
  padding: 0.5rem 0 0.5rem 0;
  line-height: 5px;
}
@media screen and (min-width: 1280px) {
  .contact__people-wrap--email {
    font-size: 0.85rem;
  }
}

.contact__social--bandsite-logo {
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .contact__social--bandsite-logo {
    visibility: visible;
  }
}

@media screen and (min-width: 768px) {
  .contact__band-title {
    visibility: hidden;
  }
}

.comments__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 5px;
  line-height: 20px;
  font-size: 1.1rem;
}

h1 {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 3rem;
  }
}

.nav-bar__underline {
  text-align: center;
  width: 50%;
  border-bottom: 5px solid transparent;
}
.nav-bar__underline--active {
  text-align: center;
  border-bottom: 5px solid #FFF;
  width: 50vw;
  color: #FFFFFF;
  padding-top: 1.5px;
}
@media screen and (min-width: 768px) {
  .nav-bar__underline--active {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    padding-left: 0;
  }
}

.band-title {
  display: flex;
  justify-content: left;
  align-items: center;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/hero-bio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .band-title {
    height: 40vh;
  }
}
.band-title__name {
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .band-title__name {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .band-title__name {
    padding-left: 5rem;
  }
}

.about {
  padding: 1.5rem 1rem 0 1rem;
}
.about__img img {
  width: 90vw;
  height: auto;
}
@media screen and (min-width: 768px) {
  .about__img img {
    position: inherit;
    width: 80vw;
    padding: 0 3rem 0 4rem;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .about__img img {
    padding: 0;
    width: 70vw;
    display: flex;
    justify-content: center;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .about__title {
    padding-left: 5rem;
    font-size: 4rem;
  }
}
.about__quote {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
}
@media screen and (min-width: 768px) {
  .about__quote {
    padding: 0 5rem 0 5rem;
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__quote {
    padding: 0;
    width: 60vw;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    padding-right: 6.5rem;
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__quote--name {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .about__history {
    padding: 0 5rem 0 5rem;
  }
  .about__history--story {
    display: flex;
    flex: row;
    line-height: 1.4rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 1280px) {
  .about__history {
    padding: 0;
    width: 70vw;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 768px) {
  .about__history--title {
    font-size: 1.5rem;
  }
}
.about__history--story-div {
  padding-right: 1rem;
}

.gallery {
  margin: auto;
  padding: 1.5rem 1rem 1.5rem 1rem;
  background-color: #FAFAFA;
}
@media screen and (min-width: 768px) {
  .gallery {
    display: flex table-column;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding: 1.5rem 5rem 1.5rem 5rem;
  }
}
.gallery__photo {
  width: 100%;
  height: auto;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__photo {
    display: grid;
    width: 30%;
    padding: 1rem 0.5rem 1rem 0.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__photo {
    width: 30%;
    padding: auto;
  }
}
@media screen and (min-width: 768px) {
  .gallery__grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

input:active {
  border: 1px solid #323232;
}

textarea:active {
  border: 1px solid #323232;
}

::-moz-placeholder {
  color: black;
  font-size: 1rem;
}

:-ms-input-placeholder {
  color: black;
  font-size: 1rem;
}

::placeholder {
  color: black;
  font-size: 1rem;
}

input:invalid {
  background-color: pink;
}

.comments {
  width: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .comments {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .comments {
    margin-right: 5rem;
  }
}
.comments__circle {
  height: 2.5em;
  width: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
  margin-top: 2.5rem;
  background-color: #E1E1E1;
}
.comments__grey-round-logo {
  height: 2.5em;
  width: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
  margin-top: 2.5rem;
  background-color: #E1E1E1;
}
.comments__added {
  width: 90%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .comments__added {
    width: 50%;
  }
}
.comments__wrap {
  width: 85%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .comments__wrap {
    width: 100%;
  }
}
.comments__name-input {
  border-radius: 4px;
  border: 1px solid #E1E1E1;
  height: 2rem;
  width: 90%;
  background-color: #FAFAFA;
  font-size: 1rem;
}
.comments__comment-input {
  border-radius: 4px;
  border: 1px solid #E1E1E1;
  height: 6rem;
  width: 90%;
  background-color: #FAFAFA;
  resize: none;
  font-size: 1rem;
}
.comments__container {
  border-bottom: solid 2px #E1E1E1;
  display: flex;
  flex-direction: row;
  width: 85%;
  padding-bottom: 1rem;
}
@media screen and (min-width: 1280px) {
  .comments__container {
    justify-content: center;
  }
}
.comments__posted-container {
  border-bottom: solid 2px #E1E1E1;
  display: flex;
  flex-direction: row;
  width: 85%;
  padding-bottom: 1rem;
}
@media screen and (min-width: 1280px) {
  .comments__posted-container {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .comments__title {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .comments__title {
    padding-left: 8rem;
  }
}
.comments__form {
  width: 90%;
}
@media screen and (min-width: 1280px) {
  .comments__form {
    width: 50%;
  }
}
.comments__button {
  width: 90%;
}
@media screen and (min-width: 768px) {
  .comments__button {
    width: 30%;
    position: relative;
    left: 60%;
  }
}
.comments__added-date {
  color: #AFAFAF;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 0;
}
.comments__text-label {
  color: #AFAFAF;
  font-size: 0.9rem;
  margin-bottom: 0;
  font-weight: bold;
}

.name-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}/*# sourceMappingURL=bio.css.map */