@use './partials/variables'as *;
@use './partials/global'as *;
@use './partials/mixins'as *;

h1 {
    font-size: 2rem;
}

h2 {
    @include tablet {
        font-size: 3rem;
    }
}

.nav-bar__underline {
    text-align: center;
    width: 50%;
    border-bottom: 5px solid transparent;

    &--active {
        text-align: center;
        border-bottom: 5px solid #FFF;
        width: 50vw;
        color: $white-text;
        padding-top: 1.5px;

        @include tablet {
            width: min-content;
            padding-left: 0;
        }
    }
}

.band-title {
    display: flex;
    justify-content: left;
    align-items: center;
    background:
        linear-gradient(rgb(50, 50, 50, 0.5),
            rgb(50, 50, 50, 0.5)),
        url(../assets/images/hero-bio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    color: $white-text;
    ;

    @include tablet {
        height: 40vh;
    }

    &__name {
        padding-left: 1rem;

        @include tablet {
            font-size: 4rem;
        }

        @include desktop {
            padding-left: 5rem;
        }
    }
}

.about {
    padding: 1.5rem 1rem 0 1rem;

    &__img {
        img {
            width: 90vw;
            height: auto;

            @include tablet {
                position: inherit;
                width: 80vw;
                padding: 0 3rem 0 4rem;
                display: flex;
                justify-content: center;
            }

            @include desktop {
                padding: 0;
                width: 70vw;
                display: flex;
                justify-content: center;
                margin: auto;
            }
        }
    }

    &__title {


        @include desktop {
            padding-left: 5rem;
            font-size: 4rem;
        }
    }

    &__quote {
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 2px;

        @include tablet {
            padding: 0 5rem 0 5rem;
            font-size: 1.4rem;
        }

        @include desktop {
            padding: 0;
            width: 60vw;
            display: flex;
            justify-content: center;
            margin: auto;
            flex-direction: column;
            padding-right: 6.5rem;
            font-size: 1.4rem;
        }

        &--name {
            @include desktop {
                font-size: 1rem;
            }
        }
    }

    &__history {
        @include tablet {
            padding: 0 5rem 0 5rem;

            &--story {
                display: flex;
                flex: row;
                line-height: 1.4rem;
                font-weight: 500;
            }
        }

        @include desktop {
            padding: 0;
            width: 70vw;
            display: flex;
            justify-content: center;
            margin: auto;
            flex-direction: column;
            font-size: 0.75rem;
        }

        &--title {
            @include tablet {
                font-size: 1.5rem;
            }
        }

        &--story-div {
            padding-right: 1rem;
        }
    }
}


.gallery {
    margin: auto;
    padding: 1.5rem 1rem 1.5rem 1rem;
    background-color: #FAFAFA;

    @include tablet {
        display: flex table-column;
    }

    @include desktop {
        padding: 1.5rem 5rem 1.5rem 5rem;
    }

    img {
        width: 100%;
        height: auto;
        padding-top: 1rem;

        @include tablet {
            display: grid;
            width: 30%;
            padding: 1rem 0.5rem 1rem 0.5rem;

        }

        @include desktop {
            width: 30%;
            padding: auto;
        }
    }

    &__grid {
        @include tablet {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}


input {
    border-radius: 4px;
    border: 1px solid $mercury;
    height: 2rem;
    width: 90%;
    // padding: 0.4rem;
    background-color: $alabaster;
}

textarea {
    border-radius: 4px;
    border: 1px solid $mercury;
    height: 6rem;
    width: 90%;
    // padding: 0.4rem;
    background-color: $alabaster;
    resize: none;
}

input:active {
    border: 1px solid $bandSite-black;
}

textarea:active {
    border: 1px solid $bandSite-black;
}

::placeholder {
    color: black;
    font-size: 1rem;
    padding: 0.4rem;
}

input:invalid {
    background-color: pink;
}

.comments__container {
    border-bottom: solid 2px $mercury;
    display: flex;
    flex-direction: row;
    width: 85%;
    padding-bottom: 1rem;

    @include desktop {
        justify-content: center;
    }
}

.comments__added {
    width: 90%;

    @include desktop {
        width: 50%;
    }
}

.comments__button {
    width: 90%;

    @include tablet {
        width: 30%;
        position: relative;
        left: 60%;
    }
}

.comments__form {
    width: 90%;

    @include desktop {
        width: 50%;
    }
}

.comments__title {
    @include tablet {
        width: 100%;
    }

    @include desktop {
        padding-left: 8rem;
    }
}

.comments__posted-container {
    border-bottom: solid 2px $mercury;
    display: flex;
    flex-direction: row;
    width: 85%;
    padding-bottom: 1rem;

    @include desktop {
        justify-content: center;
    }
}

.comments {
    width: 90%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @include tablet {
        justify-content: flex-start;

    }

    @include desktop {
        margin-right: 5rem;
    }
}




h5 {
    color: $silver;
    font-weight: 600;
    font-size: 0.9rem;
    margin-bottom: 0;
}

.comments__circle {
    height: 2.5em;
    width: 3rem;
    border-radius: 50%;
    // clip-path: circle();
    margin-right: 1rem;
    margin-top: 2.5rem;
    background-color: $mercury;
}

.comments__grey-round-logo {
    height: 2.5em;
    width: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
    margin-top: 2.5rem;
    background-color: $mercury;
}

.comments__added {
    display: flex;
    flex-direction: column;
}

.name-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comments__wrap {
    width: 85%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    @include tablet {
        width: 100%
    }

    @include desktop {}
}