@font-face {
  font-family: "avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 600;
}
html {
  font-family: "avenir";
}

body {
  margin: auto;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
}

.bandsite-logo {
  width: 120px;
  height: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
  height: 87px;
}

.nav-bar {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.nav-bar__title {
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .nav-bar__title {
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav-bar__title {
    padding-left: 5rem;
  }
}
@media screen and (min-width: 768px) {
  .nav-bar {
    justify-content: center;
    flex-direction: row;
  }
}

.nav-bar__options {
  width: 100%;
}
.nav-bar__options--list {
  padding-left: 0;
  margin: 0;
  font-size: 1.2rem;
  list-style: none;
  display: flex;
  width: 100%;
  color: #E1E1E1;
}
@media screen and (min-width: 768px) {
  .nav-bar__options--list {
    justify-content: left;
    padding-left: 3rem;
    position: left;
    height: 87px;
    width: 25rem;
  }
  .nav-bar__options--list li {
    padding-top: 2rem;
  }
}

.contact {
  padding: 1.5rem 1rem 1.5rem 1rem;
  background-color: #323232;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .contact {
    padding: 3rem 2rem 3rem 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .contact {
    padding: 3rem 5rem 3rem 5rem;
  }
}
@media screen and (min-width: 768px) {
  .contact__social--title {
    display: flex;
    flex-direction: row;
  }
  .contact__social--title img {
    height: 30px;
    padding-right: 1rem;
  }
}
.contact__social--title img {
  height: 30px;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .contact__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
  .contact__social h2 {
    margin: 0;
  }
  .contact__social img {
    padding: 0 0 0 3rem;
  }
}
.contact__social--logos img {
  height: 30px;
  padding-right: 1rem;
}
.contact__people {
  padding-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .contact__people {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.contact__people-wrap {
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .contact__people-wrap {
    display: flex;
    flex-direction: column;
    padding: 0 0.4rem 0 0.4rem;
    justify-content: center;
  }
}
.contact__people-wrap--name {
  padding: 0.5rem 0 0.5rem 0;
  line-height: 5px;
}
.contact__people-wrap--info {
  padding: 0.5rem 0 0.5rem 0;
  line-height: 5px;
  font-weight: 100;
}
@media screen and (min-width: 1280px) {
  .contact__people-wrap--info {
    font-size: 0.85rem;
  }
}
.contact__people-wrap--email {
  padding: 0.5rem 0 0.5rem 0;
  line-height: 5px;
}
@media screen and (min-width: 1280px) {
  .contact__people-wrap--email {
    font-size: 0.85rem;
  }
}

.contact__social--bandsite-logo {
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .contact__social--bandsite-logo {
    visibility: visible;
  }
}

@media screen and (min-width: 768px) {
  .contact__band-title {
    visibility: hidden;
  }
}

.comments__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 5px;
  line-height: 20px;
  font-size: 1.1rem;
}

li {
  list-style: none;
}

.nav-bar__underline {
  text-align: center;
  width: 50%;
  border-bottom: 5px solid transparent;
}
.nav-bar__underline--active {
  text-align: center;
  border-bottom: 5px solid #FFF;
  width: 50vw;
  color: #FFFFFF;
  padding-top: 1.5px;
}
@media screen and (min-width: 768px) {
  .nav-bar__underline--active {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}

.nav-bar__options--list {
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .nav-bar__options--list {
    justify-content: flex-start;
    padding-left: 0;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-self: center;
  padding: 1rem;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/hero-shows.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 2rem;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding-left: 5rem;
    flex-direction: row;
    align-items: center;
  }
}
.hero__album-name {
  font-size: 1rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .hero__album-name {
    font-size: 1.5rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
.hero__title {
  width: 80%;
  font-size: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.5rem;
    width: 70%;
    margin-top: 0;
  }
}

iframe {
  border-radius: 6px;
  height: 7.5rem;
  border: none;
}
@media screen and (min-width: 768px) {
  iframe {
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  iframe {
    width: 25%;
    padding: 0 15% 0 15%;
  }
}

.shows {
  padding: 1rem;
  margin: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .shows {
    flex-direction: row;
    padding-left: 5rem;
  }
}
.shows__title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .shows__title {
    font-size: 2.25;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 1280px) {
  .shows__title {
    display: none;
    flex-direction: row;
  }
}
.shows__title--desktop {
  display: none;
}
@media screen and (min-width: 1280px) {
  .shows__title--desktop {
    display: block;
    margin: 0;
    height: 40vh;
    width: 15%;
  }
}
.shows__border {
  border: 1px solid #E1E1E1;
  width: 100%;
  padding: 0;
}
.shows__list-date {
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .shows__list-date {
    font-weight: 700;
  }
}
.shows__list-small-screen {
  color: #AFAFAF;
  font-weight: 600;
  font-size: 0.8rem;
}
@media screen and (min-width: 768px) {
  .shows__list-small-screen {
    display: none;
  }
}
.shows__list--dvl {
  color: #AFAFAF;
  font-weight: 600;
  font-size: 0.8rem;
}
.shows__table:hover {
  background-color: #FAFAFA;
  transition: 0.25s;
}
.shows #shows__list-big-screen {
  display: none;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .shows #shows__list-big-screen {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}
.shows__list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .shows__list-container {
    width: 80%;
  }
}
.shows__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 90vw;
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 5px;
  line-height: 20px;
  font-size: 1.2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .shows__button {
    width: 9rem;
  }
}
.shows__heading--small {
  color: #AFAFAF;
  font-weight: 600;
  font-size: 0.9rem;
}
@media screen and (min-width: 768px) {
  .shows__heading--small {
    display: none;
  }
}
.shows__table {
  padding: 0;
  width: 100%;
  border-bottom: solid 2px #E1E1E1;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .shows__table {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
.shows__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 10rem;
}
.shows__venue-location {
  width: 11rem;
}
.showsshows__date {
  width: 11rem;
}
.shows__table--active {
  background-color: #E1E1E1;
}

#shows__list-big-screen > li {
  width: 9rem;
}

.shows__table--active {
  background-color: #E1E1E1;
}/*# sourceMappingURL=shows.css.map */