@use './partials/global'as *;
@use './partials/mixins'as *;
@use './partials/variables'as *;


li {
    list-style: none;
}

.nav-bar__underline {
    text-align: center;
    width: 50%;
    border-bottom: 5px solid transparent;

    &--active {
        text-align: center;
        border-bottom: 5px solid #FFF;
        width: 50vw;
        color: $white-text;
        padding-top: 1.5px;

        @include tablet {
            width: min-content;
        }
    }
}

.nav-bar__options--list {
    display: flex;
    justify-content: flex-end;

    @include tablet {
        justify-content: flex-start;
        padding-left: 0;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-self: center;
    padding: 1rem;
    background: linear-gradient(rgb(50, 50, 50, 0.5),
            rgb(50, 50, 50, 0.5)),
        url(../assets/images/hero-shows.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    color: $white-text;

    @include tablet {
        padding: 2rem;
        align-items: flex-start;
    }

    @include desktop {
        padding-left: 5rem;
        flex-direction: row;
        align-items: center;

    }

    &__album-name {
        font-size: 1rem;
        font-weight: 500;

        @include tablet {
            font-size: 1.5rem;
            line-height: 2.75rem;
            font-weight: 700;
        }
    }

    &__song {
        border-radius: 6px;
        height: 7.5rem;
        border: none;

        @include tablet {
            width: 65%;
        }

        @include desktop {
            width: 40%;
            padding: 0 15% 0 15%;
        }
    }

    &__title {
        width: 80%;
        font-size: 2rem;
        font-weight: 700;

        @include tablet {
            font-size: 3.5rem;
            width: 70%;
            margin-top: 0;
        }
    }
}

.shows {
    padding: 1rem;
    margin: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @include tablet {
        padding: 2rem;
    }

    @include desktop {
        flex-direction: row;
        padding-left: 5rem;
    }

    &__title {
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 700;

        @include tablet {
            font-size: 2.25;
            line-height: 2.75rem;
            font-weight: 700;
        }

        @include desktop {
            display: none;
            flex-direction: row;
        }
    }

    &__title--desktop {
        display: none;

        @include desktop {
            display: block;
            margin: 0;
            height: 40vh;
            width: 15%;
        }
    }

    &__border {
        border: 1px solid $mercury;
        width: 100%;
        padding: 0;
    }

    &__list-date {
        font-weight: 600;

        @include tablet {
            font-weight: 700;
        }
    }

    &__list-small-screen {
        color: $silver;
        font-weight: 600;
        font-size: 0.8rem;

        @include tablet {
            display: none;
        }
    }

    &__list--dvl {
        color: $silver;
        font-weight: 600;
        font-size: 0.8rem;
    }

    &__table--active {
        background-color: $mercury;
    }

    &__table:hover {
        background-color: $alabaster;
        transition: 0.25s;
    }

    #shows__list-big-screen {
        display: none;
        padding: 0;

        @include tablet {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }
    }

    &__list-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include desktop {
            width: 80%;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
        width: 90vw;
        background-color: $bandSite-black;
        color: $white;
        border-radius: 5px;
        line-height: 20px;
        font-size: 1.2rem;
        font-weight: 700;

        @include tablet {
            width: 9rem;
        }
    }

    &__heading--small {
        color: $silver;
        font-weight: 600;
        font-size: 0.9rem;

        @include tablet {
            display: none;
        }
    }

    &__table {
        padding: 0;
        width: 100%;
        border-bottom: solid 2px $mercury;
        padding-bottom: 1rem;

        @include tablet {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    }

    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-right: 10rem;
    }

    &__venue-location {
        width: 11rem;
    }

    &shows__date {
        width: 11rem;
    }

    &__list>li>h3 {
        width: 11rem;
    }
}

#shows__list-big-screen>li {
    width: 9rem;
}