@font-face {
  font-family: "avenir-regular";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "avenir-demi";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
}
@font-face {
  font-family: "avenir-bold";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
}
html {
  font-family: "avenir-regular", "avenir-demi", "avenir-bold";
}

body {
  margin: auto;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.bandsite-logo {
  width: 120px;
  height: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
  height: 87px;
}

.nav-bar {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.nav-bar__title {
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .nav-bar__title {
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .nav-bar__title {
    padding-left: 5rem;
  }
}
@media screen and (min-width: 768px) {
  .nav-bar {
    justify-content: center;
    flex-direction: row;
  }
}

.nav-bar__options {
  width: 100%;
}
.nav-bar__options--list {
  padding-left: 0;
  margin: 0;
  font-size: 1.2rem;
  list-style: none;
  display: flex;
  width: 100%;
  color: #E1E1E1;
}
@media screen and (min-width: 768px) {
  .nav-bar__options--list {
    justify-content: left;
    padding-left: 3rem;
    position: left;
    height: 87px;
    width: 25rem;
  }
  .nav-bar__options--list li {
    padding-top: 2rem;
  }
}

.contact {
  padding: 1.5rem 1rem 1.5rem 1rem;
  background-color: #323232;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .contact {
    padding: 3rem 2rem 3rem 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .contact {
    padding: 3rem 5rem 3rem 5rem;
  }
}
@media screen and (min-width: 768px) {
  .contact__social--title {
    display: flex;
    flex-direction: row;
  }
  .contact__social--title img {
    height: 30px;
    padding-right: 1rem;
  }
}
.contact__social--title img {
  height: 30px;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .contact__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
  .contact__social h2 {
    margin: 0;
  }
  .contact__social img {
    padding: 0 0 0 3rem;
  }
}
.contact__social--logos img {
  height: 30px;
  padding-right: 1rem;
}
.contact__people {
  padding-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .contact__people {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.contact__people-wrap {
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .contact__people-wrap {
    display: flex;
    flex-direction: column;
    padding: 0 0.4rem 0 0.4rem;
    justify-content: center;
  }
}
.contact__people-wrap--name {
  padding: 0.5rem 0 0.5rem 0;
  line-height: 5px;
}
.contact__people-wrap--info {
  padding: 0.5rem 0 0.5rem 0;
  line-height: 5px;
  font-weight: 100;
}
@media screen and (min-width: 1024px) {
  .contact__people-wrap--info {
    font-size: 0.85rem;
  }
}
.contact__people-wrap--email {
  padding: 0.5rem 0 0.5rem 0;
  line-height: 5px;
  font-weight: 100;
}
@media screen and (min-width: 1024px) {
  .contact__people-wrap--email {
    font-size: 0.85rem;
  }
}

.contact__social--bandsite-logo {
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .contact__social--bandsite-logo {
    visibility: visible;
  }
}

@media screen and (min-width: 768px) {
  .contact__band-title {
    visibility: hidden;
  }
}

.nav-bar__underline {
  text-align: center;
  width: 50%;
  border-bottom: 5px solid transparent;
}
.nav-bar__underline--active {
  text-align: center;
  border-bottom: 5px solid #FFF;
  width: 50vw;
  color: #FFFFFF;
  padding-top: 1.5px;
}
@media screen and (min-width: 768px) {
  .nav-bar__underline--active {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}

.nav-bar__options--list {
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .nav-bar__options--list {
    justify-content: flex-start;
    padding-left: 0;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-self: center;
  padding: 1rem;
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/hero-shows.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40%;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .hero__album-name {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
.hero__title {
  width: 80%;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3.5rem;
    width: 70%;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 2rem;
    align-items: flex-start;
  }
}

iframe {
  border-radius: 6px;
  height: 7.5rem;
  border: none;
}
@media screen and (min-width: 768px) {
  iframe {
    width: 50%;
  }
}

.shows {
  margin: 0;
}
.shows__border {
  border: 1px solid #E1E1E1;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .shows ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    width: 100%;
    align-items: center;
  }
}
.shows ul li {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .shows ul li {
    width: auto;
  }
}
@media screen and (min-width: 768px) {
  .shows {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
}

.shows__list-tickets {
  background-color: #323232;
  color: #FFFFFF;
  padding: 0.7rem;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .shows__list-date {
    font-weight: 600;
  }
}

@media screen and (min-width: 768px) {
  .shows__list-mid-items {
    float: inline-start;
  }
}

@media screen and (min-width: 768px) {
  .shows__list-small-screen {
    display: none;
  }
}

.shows__list-big-screen {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__list-big-screen {
    display: flex;
  }
}/*# sourceMappingURL=shows.css.map */